section(data-background-color='#141519')
  section(data-background-color='#141519')
    a.main-logo.small(href='https://reactjs.org')
    h3
      span.color-main Components&nbsp;
      | composition&nbsp;
    pre
      div.code-header
            | MyComponent.jsx
      code.javascript.
        import React from "react";

        export default function MyComponent(props) {

          return (
            &lt;div className="my-component"&gt;
              {props.children}
            &lt;/div&gt;
          );
        }

  section(data-background-iframe='https://codesandbox.io/s/rewrite-to-component-tbpy7')
    aside.notes
      p So let's try components composition in more convinient way instead of boring slides. Let's do some code ))
    span.fragment.fade-in
      span.fragment.fade-out
        .lds-dual-ring