section(data-background-iframe='https://pure-dawn-33940.herokuapp.com/?api_key=rs.school.2020Q1&url=https://reactjs.org')
  span.fragment.fade-in
    a.fragment.fade-out(href='https://reactjs.org' target="_blank")