section.full.column(data-background-color='#141519')

  aside.notes

    p I am a front-end developer at WGWC company in Poland with 1+ year experience.
    p You can find me on this github account or on linkedIn. I am of course a coding passionate, react and typescript enthusiast. Mettups attendee and public speaker (some times). Most of the time I'm writing front-end applications but also prepearing some video tutorials.
    p And today we will talk about react. We won't dive into handling events or conditional rendering or even lifecycle methods. Instead we will stop at most in my opinion valuable and most important for understanding and proper use React library topics.

  div.green.title-container.lower
    h3 Dmitry Hmel&nbsp;
      span.color-main
        image.avatar.green(src='assets/images/github.svg')
        |xmelsky
  div.green.info-container
    div.fragment-container
      div.photo
      div.info.fragment-container
        div.fragment
          p 1+ year experience front-end developer
        div.fragment
          p meetups attendee, public speaker, coding passionate
        div.fragment
          p react + typescript enthusiast