section(data-background-color='#141519')
  section
    a.main-logo.small(href='https://reactjs.org')
    h3
      span.color-main Stateless&nbsp;
      | and&nbsp;
      span.color-main Stateful&nbsp;
      | Components
  section(data-background-iframe='https://codesandbox.io/s/pensive-wescoff-b8420')
    span.fragment.fade-in
      a.fragment.fade-out(href='https://reactjs.org' target="_blank")