section.full.column(data-background-color='#141519')

  aside.notes
    p I am a front-end developer at WGWC company in Poland with 1+ year experience.
    p You can find me on this github account or on linkedIn. I am of course a coding passionate, react and typescript enthusiast. Mettups attendee and public speaker (some times)
    p after presentation we'll have up to 20 minutes for your question. If you'll have any, just ask for microphone. okay? good. So let's go further

  div.green.title-container.lower
    h3 Dmitry Hmel&nbsp;
      span.color-main
        image.avatar.green(src='images/github.svg')
        |xmelsky
  div.green.info-container
    div.fragment-container
      image.photo(src='images/me.jpg')
      div.info.fragment-container
        div.fragment
          p 1+ year experience front-end developer
        div.fragment
          p meetups attendee, public speaker, coding passionate
        div.fragment
          p react + typescript enthusiast