section(data-background-color='#141519')

  aside.notes
    p Hellooo and welcome! I'm more than happy to see all of you here on my presentetion about amazing and relatively new (at least for some of you) feature in front-end development world.
    p But before we'll get started let's talk about some technical topics

  h2 REACT
    span.color-main.dot .
    |JS