section(data-background-color='#141519')
  section(data-background-color='#141519' data-background-video='#')

    //- N O T E S
    aside.notes
      p Before we'll start dig into technical aspects of this library. I'd like to ask you - what is this spimple function doing here? What's the purpose of this code?
      p This is as you sure know a  Framework constructor function which brings to us... a library?!. Obviously this is metaphor. But what it shows you - that this powerful and dynamic library can stand alongside with the real frameworks (instead of jQuery, whitch simply can't do that).

    div
      a.main-logo(href='https://reactjs.org')
    p.react-title React.js
    pre
      code.
        function Framework() {
          return {
            library: 'React.js',
          }
        }

        const frontEnd = new Framework();
  section.full.column

    //- N O T E S
    aside.notes
     p

    div.title-container
      h2 New flexible JavaScript&nbsp;
        span.color-main library
          //- span.underline.red
    div.info-container
      div.fragment.fade-in
        h4 What does it mean?
        div.info.fragment.to-be-out
          div.fragment.fade-up
            ul
              li combines the speed of JavaScript and uses a new way of rendering webpages
          div.fragment.fade-up
            ul
              li makes manipulation with DOM highly dynamic and allows fast response to user input
          div.fragment.fade-up
            ul
              li uses downward data binding to ensure that changes of child structures don’t affect their parents
  section
    aside.notes
      | Here we see that React isn't a framework. it's a view layer only. But the design patterns applied by the development team make this library very popular amongst programmers. Today it's over 100.000 stars on github repository. and yeah, it's an open source library! How cool is that?
    div.fragment.fade-up
      h2 React is the&nbsp;
        span.color-main view layer&nbsp;
        | of an MVC application
  section
    div.fragment.fade-up
      h2 New flexible JavaScript&nbsp;
        span.underline-bottom library
          span.underline.red
  section
    div.fragment.fade-up
      h2 New flexible JavaScript&nbsp;
        span.underline-bottom library
          span.underline.red