@import '../../node_modules/reveal.js/css/reveal.css';
@import '../../node_modules/reveal.js/css/theme/moon.css';
@import '../../node_modules/reveal.js/lib/css/monokai.css';

html {
  --var-main-color: #00d8ff;
}

.title {
  color: #fff;
  top: 150px;
  position: relative;
}

.main-logo {
  display: block;
  background: url('../assets/images/react.svg') no-repeat top left;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: auto;
}

.slide-background {
  background: url('../assets/images/react-bg.svg') no-repeat;
  background-size: 180% 180%;
  background-position: 0 2em !important;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  margin-left: 2em;
  padding-left: 0.5em;
  border-left: 3px solid var(--var-main-color);

  & div {
    text-align: left;
  }
}

.full {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.underline-bottom {
  position: relative;
}

span.underline {
  position: absolute;
  border-bottom: 5px solid;
  width: 100%;
  bottom: 11px;
  height: 5px;
  left: 0;
}

.column {
  flex-direction: column;
}

span.green {
  border-color: var(--var-main-color);
}

.reveal h4 {
  font-size: 1.2em;
}

.reveal p {
  letter-spacing: 1px;
  color: #fff;
  font-weight: 100;
  font-family: "League Gothic", Impact, sans-serif;
}

.info-container {
  margin-top: 2em;
}

.info-container .fragment-container {
  display: flex;
  align-items: center;

  & h4 {
    margin: 0;
    flex-shrink: 0;
    width: 16%;
    text-align: right;
    flex-wrap: wrap;
  }
}

.color-main {
  color: var(--var-main-color);
}

pre code.hljs {
  padding: 1em;
  background: #152930;
}

span.color-main.dot {
  padding-right: 4px;
}

div.title-container.lower h3 {
  text-transform: none;
  margin: 0;
}

img.avatar.green {
  width: 80px;
  border: 0 !important;
  height: 80px;
  position: relative;
    bottom: -35px;
  background: none !important;
  margin-left: 20px !important;
}

.green.title-container.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

img.photo {
  margin: 0 !important;
  width: 300px;
  border: 0 !important;
  text-shadow: 1px 2px 5px #222;
}

.reveal ul {
  margin: 0 !important;
}

.reveal ul li {
  color: #fff;
}

.reveal section img {
  margin: 15px 0px;
  background: none;
  border: none;
  box-shadow: none;
}

.reveal pre code {
  overflow: hidden;
}

.code-header {
  color: #fff;
  background: #016071;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.reveal .hljs:not(:first-child).fragment.additional {
  position: relative;
}

.reveal pre code.wrap {
  display: flex;
  flex-wrap: wrap;
}

.reveal iframe {
  border: none;
}

a.main-logo.small {
  width: 60px;
  height: 90px;
}

// Loader

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}